html,
body {
  margin: 0;
  padding: 0;
}

.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}
.btn-primary {
  background-color: white;
  color: black;
  border: none;
}
.btn-primary:hover {
  opacity: 0.9;
  background-color: white;
  color: black;
}
.btn-primary:active {
  opacity: 0.8 !important;
  background-color: white !important;
  color: black !important;
}
.btn-outline-secondary {
  color: white;
  border: 1px solid white;
}
.btn-outline-secondary:hover {
  color: black;
  background-color: white;
  border: 1px solid white;
}
.brands {
  height: 30px;
}
.btn-primary1 {
  border: 1px solid black;
  background-color: black;
  color: white;
}

.btn-primary1:hover,
.btn-outline-primary:hover {
  border: 1px solid black;
  background-color: black;
  color: white;
}

.btn-primary1:active,
.btn-outline-primary:hover {
  border: 1px solid black;
  background-color: black !important;
  color: white !important;
  opacity: 0.8 !important;
}
.btn-outline-primary {
  border: 1px solid black;
  color: black;
}
.border-primary {
  border: 1px solid black;
}
